.color-smartblue{
    color:#082c5c;
}

.bg-color-smartblue{
    background-color: #082c5c;
    color: #eeeeee;
}

.bg-color-danger{
    background-color: #d61515;
    color: #eeeeee;
}

.bg-color-white{
    background-color: #eeeeee;
    color: #303030;
}

.bg-color-dark{
    background-color: #444444;
    color: #eeeeee;
}

.bg-color-orange{
    background-color: #fd9d20;
    color: #eeeeee;
}

.bg-color-yellow{
    background-color: #fdef21;
}

.bg-color-blue{
    background-color: #21acfd;
    color: #eeeeee;
}

.bg-color-green{
    background-color: #259149;
    color: #eeeeee;
}

.color-danger{
    color: #d61515;
}

.color-white{
    color: #eeeeee;
}

.color-black{
    color: #3b3b3b;
}