<div class="uk-card uk-card-default uk-card-body uk-height-smaller uk-width-1-1 uk-background-muted  uk-margin-large-top">
    <div class="uk-margin-large-left">
        <div class="uk-text-meta" style="font-size:.600em;">
            본 페이지는 <span class="uk-text-bold">HKDEVSTUDIO</span> 에서 제작된 솔루션의 제품 설명 페이지입니다. 판매 목적으로 개설된 페이지로 광고성 내용을 포함하고 있습니다.
        </div>
        <div class="uk-text-meta uk-margin-top uk-text-bold" style="font-size:.750em;">
            Create by HKDEVSTUDIO
        </div>
    </div>
</div>