{% block navbar %}
<div uk-sticky="media: 960"
    class="uk-navbar-container tm-navbar-container uk-sticky uk-active uk-sticky-below uk-sticky-fixed uk-navbar-transparent"
    style="position: fixed; top: 0px; width: 1039px;" uk-navbar>

    <div class="uk-navbar-center">
        <a class="uk-navbar-item uk-logo"><img src="http://www.taeyangcctv.com/2018_img/logo3.jpg"></a>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% if menu == "monitor" %}
            <li><a href="/adm" class="uk-icon-link uk-margin-small-right" uk-icon="icon: cog; ratio: 1.5"></a></li>
            {% else %}
            <li><a href="/monitor" class="uk-icon-link uk-margin-small-right" uk-icon="icon: tv; ratio: 1.5"></a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}