{% block navbar %}
<div class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
    <a href="" class="uk-navbar-item uk-logo uk-text-bold uk-margin-left">Title</a>
    </div>
    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="{%if menu == 'menu1'%}uk-active{%endif%}"><a class="uk-navbar-item">Menu1</a></li>
            <li class="{%if menu == 'menu2'%}uk-active{%endif%}"><a class="uk-navbar-item">Menu2</a></li>
            <li>
                <a href="#">Dropdown Menu</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-header">Header</li>
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                        <li class="uk-nav-divider"></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}