{% block order_table %}
<ul class="uk-child-width-expand" uk-switcher="connect: .switcher-container" uk-tab>
    <li class="uk-text-bold {% if order_type == 'gen' %}uk-active{% endif %}"><a href="#">일반 발주 현황</a></li>
    <li class="uk-text-bold {% if order_type == 'mas' %}uk-active{% endif %}"><a href="#">MAS 발주 현황</a></li>
</ul>
<ul class="uk-switcher switcher-container uk-margin">
    <li id="gen_order_table" >
        <div id='gen_reload'>
            <table class="uk-table uk-table-middle uk-table-condensed uk-table-large uk-secondary">
                <thead>
                    <tr>
                        <th class="uk-text-middle uk-text-bold uk-table-small" style="font-weight: 700;">번호</th>
                        <th class="uk-text-middle uk-width-small" style="font-weight: 700;">발주일</th>
                        <th class="uk-text-middle" style="font-weight: 700;">거래처</th>
                        <th class="uk-text-middle uk-table-expand" style="font-weight: 700;">품목</th>
                        <th class="uk-text-middle uk-width-small" style="font-weight: 700;">납기일</th>
                        <th class="uk-text-middle" style="font-weight: 700;">레이저현황</th>
                        <th class="uk-text-middle" style="font-weight: 700;">절곡현황</th>
                        <th class="uk-text-middle" style="font-weight: 700;">용접현황</th>
                        <th class="uk-text-middle" style="font-weight: 700;">도장색상</th>
                        {%if menu=='adm'%}
                        <th class="uk-width-small" style="font-weight: 700;">
                            <div class="uk-animation-toggle" tabindex="0">
                                <a
                                    class="btn-add uk-button uk-button-primary uk-button-small uk-animation-scale-up">등록</a>
                            </div>
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for order in gen_order %}
                    <tr id = "{{order['id']}}" class="{{order['font_color']}}">
                        <td> {{order['id']}} </td>
                        <td> {{order['start_date']}} </td>
                        <td> {{order['customer']}} </td>
                        <td style="white-space: pre-line;"> {{order['product']}} </td>
                        <td> {{order['end_date']}} </td>
                        <td> {{order['laser_stat']}} </td>
                        <td> {{order['bending_stat']}} </td>
                        <td> {{order['welding_stat']}} </td>
                        <td> {{order['color']}} </td>
                        {%if menu=='adm'%}
                        <td><a class='btn-edit uk-margin-right' id="{{order['id']}}" href='' uk-icon='icon: file-edit; radius: 1.5'></a>
                            <a class='btn-del uk-text-danger' id="{{order['id']}}" href=''
                                uk-icon='icon: trash; radius: 1.5;'></a>
                        </td>

                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
    <li id="mas_order_table">
        <div id='mas_reload'>
            <table class="uk-table uk-table-middle uk-table-condensed uk-table-large uk-secondary">
                <thead>
                    <tr>
                        <th class="uk-text-middle uk-width-small" style="font-weight: 700;">발주일</th>
                        <th class="uk-text-middle" style="font-weight: 700;">수요기관</th>
                        <th class="uk-text-middle uk-table-expand" style="font-weight: 700;">품목</th>
                        <th class="uk-text-middle uk-width-small" style="font-weight: 700;">규격</th>
                        <th class="uk-text-middle" style="font-weight: 700;">수량</th>
                        <th class="uk-text-middle" style="font-weight: 700;">납기일</th>
                        <th class="uk-text-middle" style="font-weight: 700;">자재발주</th>
                        <th class="uk-text-middle" style="font-weight: 700;">용접진행</th>
                        <th class="uk-text-middle" style="font-weight: 700;">도장현황</th>
                        <th class="uk-text-middle" style="font-weight: 700;">출고/날짜</th>
                        {%if menu=='adm'%}
                        <th class="uk-width-small" style="font-weight: 700;">
                            <div class="uk-animation-toggle" tabindex="0">
                                <a
                                    class="btn-add-mas uk-button uk-button-primary uk-button-small uk-animation-scale-up">등록</a>
                            </div>
                        </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for order in mas_order %}
                    <tr class="{{order['font_color']}}">
                        <td> {{order['start_date']}} </td>
                        <td> {{order['customer']}} </td>
                        <td style="white-space: pre-line;"> {{order['product']}} </td>
                        <td style="white-space: pre-line;"> {{order['product_type']}} </td>
                        <td> {{order['amount']}} </td>
                        <td> {{order['end_date']}} </td>
                        <td> {{order['meterial_order']}} </td>
                        <td> {{order['welding_stat']}} </td>
                        <td> {{order['color_stat']}} </td>
                        <td> {{order['release_date']}} </td>
                        {%if menu=='adm'%}
                        <td><a class='btn-edit-mas uk-margin-right' id="{{order['id']}}" href='' uk-icon='icon: file-edit; radius: 1.5'></a>
                            <a class='bn-del-mas uk-text-danger' id="{{order['id']}}" href=''
                                uk-icon='icon: trash; radius: 1.5;'></a>
                        </td>

                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>

{% endblock order_table %}