{% set menu="Main" %}
{% extends 'page.html' %}

{% block page_body %}
<div class="uk-container uk-align-center">
    <div class="uk-grid-match " uk-grid>
        <div class="uk-width-1-2">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="/static/img/light.jpeg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>

        <div class="uk-width-1-2">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="/static/img/light.jpeg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>

        <div class="uk-width-1-2">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="/static/img/light.jpeg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>

        <div class="uk-width-1-2">
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="/static/img/light.jpeg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">Media Top</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_body%}